In [ ]:
!pip install pokebase

In [62]:
import pokebase as pb
import json
import requests
r = requests.get("https://pokeapi.co/api/v2/evolution-chain/1").text
j = json.loads(r)
print(j["chain"]["species"]["name"])

def get_evo(url):
  req = requests.get(url).text
  j = json.loads(req)
  evos = [j["chain"]["species"]["name"]]
  try:
    evos.append(j["chain"]["evolves_to"][0]["species"]["name"])
    evos.append(j["chain"]["evolves_to"][0]["evolves_to"][0]["species"]["name"])
  except:
    try: evos.append(j["chain"]["evolves_to"][0]["species"]["name"])
    except:
        pass
  return list(dict.fromkeys(evos))

bulbasaur

In [78]:
print(get_evo("https://pokeapi.co/api/v2/evolution-chain/476")) #last evo chain

['calyrex']

In [82]:
# print(get_evo("https://pokeapi.co/api/v2/evolution-chain/2"))
evosid = []
for pokemon in len(get_evo("https://pokeapi.co/api/v2/evolution-chain/1")):

1
2
3

In [69]:
import pandas as pd

evos = []
evos_df = pd.DataFrame()
def persist_evo(array):
  for index in :
    
  return pd.DataFrame(evos, columns=["ndex_atual","ndex_evolucao"])

In [70]:
print(persist_evo("https://pokeapi.co/api/v2/evolution-chain/1"))

AttributeError: <class 'pokebase.interface.APIResource'> object has no attribute id

In [ ]:
import pokebase as pb

# Print all moves of the type named here.
TYPE = 'normal'

# Get a list of EVERY move from the API.
all_moves = pb.APIResourceList('move')

# Bad method. Don't actually do this.
for move_data in all_moves:
    # Get API data for this move.
    move = pb.move(move_data['name'])

    # Print its name, if its type matches.
    if move.type.name == TYPE:
        print(move.name)

# Good method.
# Get API data associated with the type we want.
type_moves = pb.type_(TYPE).moves

# Iterate & print.
for move in type_moves:
    print(move.name)

In [77]:
charmander = pb.pokemon('Charmander')  # Quick lookup.
charmander.id

# pokemon = pb.pokemon("chamander")

#print(pokemon.name)#nome
#print(pokemon.height)#altura
#print(pokemon.weight)#peso
#print(pokemon.id)#id
#print(pokemon.stats[0].base_stat) #hp
#print(pokemon.stats[1].base_stat) #ataque
#print(pokemon.stats[2].base_stat)#defesa
#print(pokemon.stats[3].base_stat)#ataque especial
#print(pokemon.stats[4].base_stat)#defesa especial
#print(pokemon.stats[5].base_stat)#velocidade

# print(pokemon.id)
#evo.chain.evolves_to.species
#for move in pokemon.moves:
#    print(move.move.name)

AttributeError: <class 'pokebase.interface.APIResource'> object has no attribute id

In [52]:
import pandas as pd

pokemons = []
pokemon_df = pd.DataFrame()
moves_df = pd.DataFrame()
for i in range(1, 5):
    pokemon = pb.pokemon(i)
    index = 0
    pokemon_habilidades = []
    pokemon_habilidades_dano = []
    for move in pokemon.moves:
        if index < 3:
            if(move.move.power != None):
                pokemon_habilidades.append(move.move.name)
                pokemon_habilidades_dano.append(move.move.power)
                index += 1
            
        else:
            break
    try:
        pokemons.append([pokemon.name, pokemon.height, pokemon.weight, pokemon.id, pokemon.stats[0].base_stat,
            pokemon.stats[1].base_stat, pokemon.stats[2].base_stat, pokemon.stats[3].base_stat, 
            pokemon.stats[4].base_stat, pokemon.stats[5].base_stat, pokemon.types[0].type, pokemon.types[1].type])
    except: \
        pass

pokemon_df = pd.DataFrame(pokemons, columns=['nome', 'altura', 'peso', 'id', 'hp', 'ataque', 'defesa', 'ataque_especial', 'defesa_especial', 'velocidade', 'tipo1', 'tipo2'])

    
pokemon_df

,nome,altura,peso,id,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,tipo1,tipo2
0,bulbasaur,7,69,1,45,49,49,65,65,45,grass,poison
1,ivysaur,10,130,2,60,62,63,80,80,60,grass,poison
2,venusaur,20,1000,3,80,82,83,100,100,80,grass,poison

In [54]:
import pandas as pd

pokemons = []
pokemon_df = pd.DataFrame()
moves = []
moves_df = pd.DataFrame()
pokemon_moves = []
pokemon_moves_df = pd.DataFrame()
pokemon_instance = []
pokemon_instance_df = pd.DataFrame()

index = 0
instance = 1
for i in range(1,4):
    pokemon = pb.pokemon(i)

    for k in range(1,101):
        pokemon_instance.append([i,instance])
        instance += 1
        
        
    for move in pokemon.moves:
        if(move.move.power!=None):
            moves.append([index,move.move.name,move.move.effect_entries[0].effect,move.move.power])
            pokemon_moves.append([pokemon.id,index])
            index += 1
            if(index % 4 == 0):
                break

    try:
        pokemons.append([pokemon.name, pokemon.height, pokemon.weight, pokemon.id, pokemon.stats[0].base_stat,
            pokemon.stats[1].base_stat, pokemon.stats[2].base_stat, pokemon.stats[3].base_stat, 
            pokemon.stats[4].base_stat, pokemon.stats[5].base_stat, pokemon.types[0].type, pokemon.types[1].type])
    except: \
        pass

pokemon_df = pd.DataFrame(pokemons, columns=['nome', 'altura', 'peso', 'id', 'hp', 'ataque', 'defesa', 'ataque_especial', 'defesa_especial', 'velocidade', 'tipo1', 'tipo2'])

    
moves_df = pd.DataFrame(moves, columns=['id','nome','descricao','dano'])

pokemon_moves_df = pd.DataFrame(pokemon_moves, columns=['fk_pokemon_id', 'fk_habilidade'])

pokemon_instance_df = pd.DataFrame(pokemon_instance,columns=['fk_pokemon_id','id_instance'])

In [59]:
pokemon_df

,nome,altura,peso,id,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,tipo1,tipo2
0,bulbasaur,7,69,1,45,49,49,65,65,45,grass,poison
1,ivysaur,10,130,2,60,62,63,80,80,60,grass,poison
2,venusaur,20,1000,3,80,82,83,100,100,80,grass,poison

In [60]:
moves_df

    id        nome                                          descricao  dano
0    0  razor-wind  Inflicts regular damage.  User's critical hit ...    80
1    1         cut                           Inflicts regular damage.    50
2    2        bind  Inflicts regular damage.  For the next 2–5 tur...    15
3    3   vine-whip                           Inflicts regular damage.    45
4    4         cut                           Inflicts regular damage.    50
5    5        bind  Inflicts regular damage.  For the next 2–5 tur...    15
6    6   vine-whip                           Inflicts regular damage.    45
7    7    headbutt  Inflicts regular damage.  Has a $effect_chance...    70
8    8         cut                           Inflicts regular damage.    50
9    9        bind  Inflicts regular damage.  For the next 2–5 tur...    15
10  10   vine-whip                           Inflicts regular damage.    45
11  11    headbutt  Inflicts regular damage.  Has a $effect_chance...    70

In [61]:
pokemon_moves_df

    fk_pokemon_id  fk_habilidade
0               1              0
1               1              1
2               1              2
3               1              3
4               2              4
5               2              5
6               2              6
7               2              7
8               3              8
9               3              9
10              3             10
11              3             11

In [58]:
pokemon_instance_df

     fk_pokemon_id  id_instance
0                1            1
1                1            2
2                1            3
3                1            4
4                1            5
..             ...          ...
295              3          296
296              3          297
297              3          298
298              3          299
299              3          300

[300 rows x 2 columns]