In [21]:
#id pokebola, id instancia, id treinador
import pandas as pd
pokebola = []
pokebola_df = pd.DataFrame()
array = ['normal','great ball','ultra ball','master ball']
pb_id = 0
for i in range(1,129):
  for k in range(4):
    pb_id+=1
    pokebola.append([array[k],pb_id,i])
pokebola_df = pd.DataFrame(pokebola,columns=['nivel_de_forca','id','fk_treinador_id'])

In [22]:
pokebola_df

    nivel_de_forca   id  fk_treinador_id
0           normal    1                1
1       great ball    2                1
2       ultra ball    3                1
3      master ball    4                1
4           normal    5                2
..             ...  ...              ...
507    master ball  508              127
508         normal  509              128
509     great ball  510              128
510     ultra ball  511              128
511    master ball  512              128

[512 rows x 3 columns]