In [ ]:
import pandas as pd
import numpy as np
import random

In [27]:
linhas = []
for i in range(1, 169):
    instancia_pokemon_1 = random.randint(1, 149)
    instancia_pokemon_2 = random.randint(1, 149)
    linhas.append([i, instancia_pokemon_1, instancia_pokemon_2])

df_pokemon = pd.DataFrame(linhas, columns=['id_instancia', 'fk_pokemon_numero_pokedex', 'fk_pokebola_id'])
df_pokemon.to_csv('../output_data/popular_instancia.csv', index=False)

In [28]:
df_pokemon

      id  fk_pokemon_numero_pokedex  fk_pokebola_id
0      1                         19              59
1      2                        143              13
2      3                        103             105
3      4                        111             141
4      5                         41              13
..   ...                        ...             ...
163  164                        144              47
164  165                         22              45
165  166                         45             144
166  167                         28              84
167  168                         40             120

[168 rows x 3 columns]